* {
    scroll-behavior: smooth;
}
.navbar {
    background-color: rgb(17, 17, 22);
    padding: 1.24em;
    font-family: "Share Tech Mono", monospace;
    font-size: 1.3em;
}

.container {
    background-color: white;
    margin: 6%;
    color: black;
    border-radius: 10px;
    padding: 10%;
}
.abc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.anim,
.anim svg {
    position: absolute;
    height: 100%;
    width: 100%;
}
.anim path {
    stroke-width: 4;
}

.typewriter h1 {
    padding-left: 0.2em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    color: green;
    background-color: black;
    font-size: 6vw;
    font-family: "Share Tech Mono", monospace;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.carousel-content {
    color: black;
    display: block;
    align-items: center;
    font-family: "Share Tech Mono", monospace;
    text-align: left;
}

#text-carousel {
    width: 100%;
    height: auto;
    padding: 10%;
}

.modal-content {
    color: black;
}
.event-item:hover {
    color: orange;
    cursor: pointer;
}

.motive {
    font-family: "Share Tech Mono", monospace;
    background-color: rgb(17, 17, 22);
    color: white;
    padding: 2em;

    font-size: 1.75em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 12em;
    padding: 1.5em;
}

.typewriter h2 {
    padding-left: 0.2em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing2 4s steps(40, end), blink-caret 0.75s step-end infinite;
    color: orange;
    font-family: "Share Tech Mono", monospace;
}
.motive h2 {
    font-family: "Share Tech Mono", monospace;
    align-self: center;
    font-size: 2em;
    margin-bottom: 1.5em;
}
.register {
    height: 100vh;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.5em;
    display: flex;
    /* overflow: scroll; */
    justify-content: center;
    align-items: center;
    margin-bottom: 30em;
}
.register .container {
    background-color: rgb(17, 17, 22);
    border: orange solid 2px;
    color: white;
    font-family: "Share Tech Mono", monospace;
}

.registercontent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.registercontent p {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 1.5em;
}
.registerbutton {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: rgba(255, 166, 0, 0.712);
    color: black;
    padding: 2rem;
    box-sizing: border-box;
    width: 20%;
    align-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.registerbutton:hover {
    width: 25%;
    font-size: 1.5em;
    background-color: black;
}
.registerbutton a {
    text-decoration: none;
    color: black;
}
.registerbutton:hover a {
    color: orange;
}
/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes typing2 {
    from {
        width: 0;
    }
    to {
        width: 35%;
    }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

@media screen and (max-width: 768px) {
    .navbar p {
        font-size: 0.75em;
        padding: 0.1em;
    }
    .navbar {
        padding: 0.2em;
    }
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .motive h2 {
        font-size: 1em;
    }
    .motive p {
        font-size: 0.75em;
    }
    .register {
        padding: 0;
        max-width: 85%;
        margin: auto;
        margin-bottom: 10em;
    }
    .register .container {
        border: orange solid 1.2px;
    }
    .register h1 {
        font-size: 1.4em;
    }
    .register p {
        font-size: 1em;
    }
}
